<div class="contenedor">
  <mat-form-field>
    <input matInput placeholder="firstname"  class="form-control"  name="firstname" ngModel>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="lastname" class="form-control"  name="lastname" ngModel>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="email" class="form-control"  name="email" ngModel>
  </mat-form-field>
  <br>
  <mat-form-field>
    <textarea matInput rows="4" cols="50" matInput placeholder="message" class="form-control"  name="message" ngModel></textarea>
  </mat-form-field>
</div>
